.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  border-radius: 50%;

  background: #ff2ca8;

  pointer-events: none;

  z-index: 999999999;

  transform: translate3d(-100px, -100px, 0);

  transition:
    width 0.25s ease,
    height 0.25s ease,
    background 0.25s ease,
    border 0.25s ease,
    transform 0.08s linear;

  will-change: transform;
}

.custom-cursor.cursor-hover {
  width: 55px;
  height: 55px;

  background: rgba(255, 44, 168, 0.15);

  border: 2px solid #ff2ca8;
}

@media (max-width: 900px) {
  .custom-cursor {
    display: none;
  }
}